.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 11%, rgba(128, 81, 179, 1) 100%, rgba(0, 212, 255, 1) 100%);
}

.title {
    font-size: 85px;
    color: azure;
    animation: flipTitle 3s;
}

@keyframes flipTitle {
    from {
        transform: rotateX(90deg);
    }

    to {
        transform: rotatex(0deg);
    }
}